spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ping_smart_club?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: QAZwsx123!
  data:
    redis:
      host: localhost
      port: 6379
      password: 
      database: 0
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    root: INFO
    org.pingpongapp.pingsmartclubwebboot: DEBUG
